    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#callInfoModal'.$user_id.'">
      save call info
    </button>
    <div class="modal fade" id="callInfoModal'.$user_id.'" tabindex="-1" role="dialog" aria-labelledby="callInfoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="callInfoModalLabel">
              Save call information
            </h4>
          </div>
          <div class="modal-body">
            <form method="post" action="<?php echo $_SESSION['current_url']; ?>">
              <input type="hidden" name="last_called_user_id" value="<?php echo $user_id; ?>">
              <br> User response: <br>
              <textarea name="user_response" class="form-control"></textarea>
              <input type="submit" name="mark_called" class="btn btn-default btn-xs" value="Mark Called">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
