<!DOCTYPE html>
<div class="row p-3 bg-primary"><h3>Signup</h3></div>
<div class="row">
<div class="border col-md-5 col-xs-12 m-3 p-3 bg-white">
  
  <form action="<?php echo $_SESSION['current_url']; ?>" method="post" style="max-width: 500px">
  State:<br><select name="state" class="form-control" placeholder="State">
  <option>Abia</option>
  <option >Abuja</option>
  <option >Adamawa</option>
  <option >Anambra</option>
  <option >Akwa Ibom</option>
  <option >Bauchi</option>
  <option >Bayelsa</option>
  <option >Benue</option>
  <option >Borno</option>
  <option >Cross River</option>
  <option >Delta</option>
  <option >Edo</option>
  <option >Ebonyi</option>
  <option >Enugu</option>
  <option >Ekiti</option>
  <option >Gombe</option>
  <option >Imo</option>
  <option >Jigawa</option>
  <option >Kaduna</option>
  <option >Kano</option>
  <option >Katsina</option>
  <option >Kebbi</option>
  <option >Kwara</option>
  <option >Kogi</option>
  <option >Lagos</option>
  <option >Nasarawa</option>
  <option >Niger</option>
  <option >Ogun</option>
  <option >Ondo</option>
  <option >Osun</option>
  <option >Oyo</option>
  <option >Plateau</option>
  <option >Rivers</option>
  <option >Sokoto</option>
  <option >Taraba</option>
  <option >Yobe</option>
  <option >Zamfara</option>
  </select><br>
  Email: <br><input class="form-control" type="email" name="email" id="email" placeholder="Email" required><br>
  Username:<br> <input class="form-control" type="text" name="user_name" id="user_name" placeholder="username/studio name " required><br>
  Password:<br> <input class="form-control" type="password" name="password" id="password" placeholder="password is case sensitive" required><br>
  Confirm Password:<br> <input class="form-control" type="password" name="password" id="password" placeholder="password" required><br>
  Phone No.:<br> <input class="form-control" type="tel" name="phone" placeholder="phone number" required><br>
  Write a Secret Question.:<br>
  <span class="tiny-text">This is the question you will be asked, if you forget your password and cannot log in ... </span><br>
  <input class="form-control" type="text" name="secret_question" placeholder="secret question" required><br>Answer your Secret Question.:<br>
  <span class="tiny-text" align="center">This is the answer you MUST provide to reset your password!</span><br>
  <input class="form-control" type="text" name="secret_answer" placeholder="answer" required><br>
  <input class="form-control" type="hidden" name="funds" value="0">
  <input class="form-control" type="hidden" name="logged_in" value="no">
  <select class="form-control" name="gender">
  <option>Male</option>
  <option>Female</option>
  </select>
  <br>
  <input type="submit" name="submit" value="register" class="submit btn btn-primary"><br>
  </form>
  </div>
  
  <div class="col-md-5 col-xs-12 p-3"> <img src="http://via.placeholder.com/350x350" class="p-2 m-2 img-fluid"> </div>
</div>
